<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/login.css'%}" >
</head>

<body>
<div class="container">
	<section id="content">
		<form action="{% url 'myapp:login'%}" method='POST'>
            {% csrf_token %}
            <h1>Login</h1>
			<div>
				<input type="text" placeholder="Username" required="" name="Username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" name="Password" />
			</div>
            <div>
				<input type="submit" value="Log in" />
				<a href={% url 'myapp:forgetpassword' %}>Lost your password?</a>
				<a href={% url 'myapp:register' %}>Register</a>
			</div>
		</form><!-- form -->
		<div class="button">

		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
</body>
</html>
